 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>weather</title>
     <meta name="description" content="some shitty weather with vue">


     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
 </head>

 <body>
   <div id="weather">
     <p v-if="isMessedUp">please enter the correct name of the city you wish</p>
     <p v-else>{{ message +" "+ city +" is "+temperature+ parseWeather() +"°"}}</p>
     <input v-model="city">
     <button v-on:click="apiCall">proceed weather</button>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <script src="weather.js"></script>
 </body>

 </html>
